.form{
    width: 400px;
    margin: 40px auto;
    &__input{
        width: 400px;
        padding: 10px;
        margin-bottom: 30px;
        outline: none;
        color: grey;
        border: none;
    }
    &__btn{
        padding: 10px;
        width: 423px;
        cursor: pointer;
        outline: none; 
    }
    &__select{
        padding: 10px;
        width: 200px;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 100px;
        border: none;
        outline: none;
    }
    &__label{
        color: rgb(126, 121, 121);
        font-weight: bold;
        font-size: 25px;
    }
}

@media (max-width: 500px){
    .form{
        justify-content: center;
        margin: 30px 30px;
        &__input{
            width: 300px;
            justify-content: center;
        }
        &__btn{
            width: 300px;
        }
        &__select{
            margin: 0 0 20px 30px;
        }
    }
}